@charset "UTF-8";

/* 관리자문의 css*/
#iq_awrap { width:1000px; margin: 50px auto; padding:10px; margin-bottom:100px}
#iq_atitle { font-size:38px; font-weight:bold;}
#iq_acontents { color:#8c8c8c; font-size:18px; padding:10px 0; display:inline-block;}
#iq_awrap #line { width:70px; height:5px; background:#ffb202; margin-bottom:5px;}
#iq_awrite { float:right; font-size:18px; background:#fff; color:#353535; border:1px solid #D5D5D5; padding: 5px 10px; }
#iq_awrite:hover { background:#ffb202; color:#fff;}
.iq_subTitle { float:left; line-height:50px; font-size:16px; font-weight:bold; color:#353535; padding:0 15px;}
#iq_title { text-align: center; background:#f0f0f0; border-top:1px solid #BDBDBD; border-bottom:1px solid #BDBDBD; width:100%; height:50px; margin-top:5px}
#sNo { width:10%}
#sTit{ width:55%;}
#sDate { width:10%;}
#sYN { width:10%;}
#nameCountWrap {clear:both; font-size:19px; text-align:right; display:block; margin:10px 0;}
#nameCountWrap span { font-weight:bold; padding:0 5px;}
.iq_con .iq_subTitle { font-weight:normal; font-size:15px;}
.iq_con { border-bottom:1px solid #f1f1f1; height:50px; border-bottom:1px solid #E7E7E7; text-align:center;}
#sTit a { text-decoration:none; color:#353535;}
#sTit a:hover { color:#000; text-decoration:underline;}

/*문의 내역이 없을 때*/
#nullMessage {clear:both; font-size:32px; color:353535; font-weight:bold; text-align:center; margin-top:50px}
#iq_Nullawrite { text-align:center; margin:0 auto; font-size:18px; background:#fff; 
				color:#353535; width:48%; border:1px solid #D5D5D5; padding: 8px 10px; }
#WritebtnArea{ width:40%; margin:0 auto; margin-top:30px}	

/* 관리자문의 글 등록 페이지 */	
#iq_aInsertT { font-size:38px; font-weight:bold; text-align:center;}
#iq_aInsertC { color:#8c8c8c; font-size:18px; padding:10px 0; text-align:center;}
#insertLine { width:70px; height:5px; background:#ffb202; margin:0 auto; margin-bottom:15px; }
#insertAwrap { width: 70%; border:1px solid #d5d5d5; margin:0 auto; padding:20px; margin-top:30px; background:#fdfdfd;}
#insertAwrap ul li { margin: 10px 0;}
#insertAwrap input[type="text"] { color:#353535; height:30px; border:1px solid #d5d5d5; width:100%; padding:10px;} 
#insertAwrap textarea { height:200px; width:100%; border:1px solid #d5d5d5; padding:10px;}
#adminInsertForm p { font-size:18px; font-weight:bold; font-color:#353535; display:inline-block; padding-right:15px;
						padding-bottom: 5px;}			
#iq_inputTitle { margin-top:5px;}
#sendAdmin { font-size:23px; margin:0 20px 20px 0; font-weight:bold; color:#353535; }
#sendAdmin span{ color:#ffb202; margin-right:5px;}	
#submitBtnli { width:25%; display:inline; margin:o auto;}
#submitBtnli input[type="submit"] { color:#353535; font-size:17px; background:#fff; border:1px solid #d5d5d5; 
									width: 48%; text-align: center; padding: 10px; margin:0 5px; margin-bottom:30px;
									margin-bottom:10px; margin-top:10px;}
#submitBtnli input[type="reset"] { color:#353535; font-size:17px; background:#fff; border:1px solid #d5d5d5; 
									width: 48%; text-align: center; padding: 10px; margin:0 5px; 
									margin-bottom:10px; margin-top:10px;}
#submitBtnli input[type="submit"]:hover { font-weight:bold;}
#submitBtnli input[type="reset"]:hover { font-weight:bold;}	


/* 관리자 문의글 상세보기 */
#iq_awrapDetail { width:1000px; margin: 50px auto; padding:10px; margin-bottom:100px}
#iq_atitleDeatil { font-size:30px; font-weight:bold; display:inline-block}
#iq_atitleDeatil span{ font-size:40px; font-weight:bold; color:#ffb202; margin-right:10px;}
#iq_acontentsDetail { font-size:17px; color:#5D5D5D; line-height:25px; padding:20px; padding:20px 20px 20px 50px}
#qDeatil { background:#FCFCFC; padding:20px;}
#answerDeatil { background:#FCFCFC; padding:20px; margin-top:20px;}
#iq_answertitleDeatil { font-size:30px; font-weight:bold;}
#iq_answertitleDeatil span{ font-size:40px; font-weight:bold; color:#F15F5F; margin-right:10px;} 							
#iq_answercontentsDetail { font-size:17px; color:#5D5D5D; line-height:25px; padding:20px; padding:20px 20px 20px 50px}
#listbtn { width:30%; margin:0 auto;}
#backListBtn{ color:#353535; font-size:17px; background:#fff; border:1px solid #d5d5d5; 
									width: 100%; text-align: center; padding: 10px; margin:0 5px; margin-bottom:30px;
									margin-bottom:10px; margin-top:50px;}
#backListBtn:hover { border:1px solid #5d5d5d;}	
#iq_qdate { float:right; display: inline-block; margin-top: 30px; margin-right: 20px; color:#5d5d5d}								