
@charset "UTF-8";

/* 프로젝트 메인 css */

#projectListWrap{margin: 40px auto;max-width: 1032px; height: auto; }
button, input[type="text"]{border: 0; outline: 0;}
.categoryWrap{margin: 0 auto;max-width: 1032px;	}
.categoryList{position: relative;height: 118px; display: flex;overflow: hidden;}
.imageName{ margin-top: 8px;line-height: 18px;white-space: nowrap;font-size: 13px;font-weight: 500;}
.categoryIcon{display: block;margin: 0;padding: 21px 0 15px;width: 90px;height: 118px; text-align: center;text-indent: 0;font-size: 13px;box-sizing: border-box;}
.fashionIcon{display: inline-block;}
.techIcon{display: inline-block;}
a{text-decoration: none;align: center; color: black;}
.category{padding-right: 15px;}
.iconImage img {position: relative;transition-property: border-color,border-width;margin: 0 auto;border: 2px solid #ffb202;border-radius: 50%;background: #dedede no-repeat 50%/cover border-box;width: 56px;height: 56px;box-sizing: border-box;}
.projectListHeader{margin: 0; padding: 0;}
.searchArea{display: flex; border-top: 1px solid rgba(0,0,0,.1); border-bottom: 1px solid rgba(0,0,0,.1); box-sizing: border-box;}
.searchArea{display: block; position: relative; margin: 0 auto; border-top: 0; padding-right: 0; padding-bottom: 8px; padding-left: 0; width: 100%; text-align: right;}
.categoryName{display: none; font-size: 24px; font-weight: 700;}
.categoryName{display: block; position: absolute; bottom: 12px; left: 0; line-height: 32px; font-size: 24px;}

.invest_imgtag > img{style: max-width: 100%; height: auto; width:100%;}
.invest_list {display: grid;
    grid-template-columns: repeat(3,calc(33.33333% - 30px));
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-top: 24px;}
.invest_box {display: inline-block; vartical-align: baseline; width:313.33px; height:302.2px; padding-bottom:30px;border-radius:5px; }
.invest_box.invest_item1 {margin-left:0}
.txt_center {text-align:center}
.invest_plus {display:inline-block; width:180px; height:48px; line-height:46px; background-color:#ffb202; color:#fff; border-radius:5px; }
.invest_img {width: 100%; height: 178.2px; overflow: hidden; display: inline-block; margin-bottom: 10px;}
.invest_title {width: 100%; height: 80px; }
.invest_titlelink > p{margin-bottom: 4px; max-height: none; line-height: 24px; font-size: 17px; text-align: left; color: black;}
.invest_name{display: inline-block; }
.invest_category{float: left; display: inline-block; height: 16px; vertical-align: baseline; line-height: 16px; color: #90949c; font-size: 13px; max-height: none;}
.invest_maker{display: inline-block; height: 16px; vertical-align: top; line-height: 16px; color: #90949c; font-size: 12px; font-weight: 500;}
.invest_maker{
	display: block;
    position: relative;
    outline: none;
    padding-left: 11px;
    max-width: 150px;
    overflow: hidden;
    max-height: none;
    vertical-align: baseline;
    font-size: 13px; color: #90949c; text-align: left;
}
.invest_maker::before{position: absolute; top: 3px; left: 0; margin: 0 6px; background-color: #dadce0; width: 1px; height: 10px; vertical-align: top; content: "";}
.searchForm{position: relative; border-right: 1px solid rgba(0,0,0,.1); width: 100%;}
.searchForm{display: inline-block; margin-right: -5px; border-right: 0; width: auto; vertical-align: bottom;}
.searchForm label{display: block;}
.searchForm input{float: left; padding: 10px 34px 10px 16px; padding-top: 10px; padding-bottom: 10px; width: 300px; line-height: 24px; font-size: 15px; -webkit-appearance: none;}
.searchForm input{padding-top: 6px; padding-bottom: 6px;}
.searchForm input{transition: opacity .25s; opacity: 0;}
.searchForm input:focus{opacity: 1; outline: none;}
.searchForm button{position: absolute; top: 0; right: 0; background: none; width: 44px; height: 44px; font-size: 18px;}
.searchForm .searchButton{width: 36px; height: 36px;}
i.icon::before, [class*="icon-"]::before {

    display: inline-block;
    margin-top: -.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    speak: none;

}
i.icon::before{content: url("/RewardBook/resources/images/project/main-submit.png");}

.target_gauge{ height: 3px; background-color: #e6eaed; position: relative; width: 100%; overflow: hidden;}    
.gauge {background-color: #ffb202; height: 3px; display: block; vertical-align: baseline;}    
.percentage{font-size: 17px; font-weight: 700; color: #ffb202; float: left;}
.invest_info{font-size: 14px; font-weight: 500; color: #90949c; display: inline-block; line-height: 24px; }
.nowprice{float: left;}   
.enddate{float: right;}

